{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/recipe-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="letter-select">
  <ul>
    <a href="/recipes/a"><li>a</li></a>
    <a href="/recipes/b"><li>b</li></a>
    <a href="/recipes/c"><li>c</li></a>
    <a href="/recipes/d"><li>d</li></a>
    <a href="/recipes/e"><li>e</li></a>
    <a href="/recipes/f"><li>f</li></a>
    <a href="/recipes/g"><li>g</li></a>
    <a href="/recipes/h"><li>h</li></a>
    <a href="/recipes/i"><li>i</li></a>
    <a href="/recipes/j"><li>j</li></a>
    <a href="/recipes/k"><li>k</li></a>
    <a href="/recipes/l"><li>l</li></a>
    <a href="/recipes/m"><li>m</li></a>
    <a href="/recipes/n"><li>n</li></a>
    <a href="/recipes/o"><li>o</li></a>
    <a href="/recipes/p"><li>p</li></a>
    <a href="/recipes/q"><li>q</li></a>
    <a href="/recipes/r"><li>r</li></a>
    <a href="/recipes/s"><li>s</li></a>
    <a href="/recipes/t"><li>t</li></a>
    <a href="/recipes/u"><li>u</li></a>
    <a href="/recipes/v"><li>v</li></a>
    <a href="/recipes/w"><li>w</li></a>
    <a href="/recipes/x"><li>x</li></a>
    <a href="/recipes/y"><li>y</li></a>
    <a href="/recipes/z"><li>z</li></a>
  </ul>
</section>

<section class="card-container">
  {% for recipe in recipes %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img
            style="width:200px;height:200px;"
            src="{{ recipe.strMealThumb }}" 
            alt=""
          >
        </div>
        <h2 class="card-title">{{ recipe.strMeal }}</h2>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}