{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet">
  
  <title>J'ai Faim, Je Mange</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
      <img id="header-logo" src="{% static 'images/jai_icon.png' %}" alt="logo">
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'profile' %}">My Profile</a></li>
          <li><a href="{% url 'recipes_index' %}">Search Recipes</a></li>
          <li><a href="{% url 'recipes_create' %}">Add Recipes</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>