{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block content %}

<span class="profile-title">My Recipes</span>

<section class="card-container">
  {% for recipe in recipes %}
    <div class="card">
      <a href="/recipes/details/{{ recipe.strMeal }}">
        <div class="card-content">
          <div class="card-img-container card-image">
            <img
              style="width:30vh;height:25vh;"
              src="{{ recipe.strThumb }}" 
              alt="recipe image"
            >
          </div>
          <h2 class="card-title card-header">{{ recipe.strMeal }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}
  </section>

{% endblock %}