span {
  text-align: center;
  font-size: 100px;
  font-family: 'Waterfall', cursive;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

nav {
  margin: 0 0 10px 0;
  font-family: 'Waterfall', cursive;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

main {
  width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 35px;
}

nav a:hover {
  color: #C17C74;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav li {
  padding: 0 25px;
}